html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
}

/* navbar */

header {
    position: sticky;
    top: 0;
    background-color: #4a6fa5;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}

.nav-title {
    font-size: 18px;
    color: white;
    font-weight: bolder;
}



.nav-links {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 15px;
    list-style: none;
}

.nav-link {
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}



.mobile-menu-icon {
    display: block;
}

/* expense-calculator */

#expense-calculator {

    width: 90%;
    margin: auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expense-calculator-title {
    color: #1f63ca
}

.expense-calculator-subtitle {
    font-size: 20px;
    font-weight: lighter;
}


.expense-calculator-title::before {
    content: "";
}


.expense-calculator-container {
    background-color: white;
    margin-bottom: 40px;
    padding: 30px;
    width: 90%;
}

.input-containers {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
    gap: 15px;
    padding: 20px;
    align-items: center;

}

#expense-name {

    padding: 12px 15px;
    font-size: 15px;
}

#expense-amount {

    padding: 12px 15px;
    font-size: 15px;
}

.add-btn {
    padding: 12px;
    width: fit-content;
    color: white;
    background-color: #125fd1;
    border: 2px solid #125fd1;
    border-radius: 10px;
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    gap: 10px;
}


.expense-list-title {
    font-size: 20px;
    color: #1f63ca;
    padding-left: 2%;
}


.expense-list {
    min-height: 200px;
    overflow-y: auto;
    max-height: 300px;
    padding: 15px;
    border: 1px solid grey;
    width: 94%; 
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    
}

.expense-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
}

.expense-details{
    display: flex;
    flex-direction: column;
}

.expense-name{
    font-weight: 600;
    margin-bottom: 5px;
}

.expense-amount{
    font-weight: 600;
    color: #4a6fa5;
}


.remove-btn{
    border-radius: 10px;
    border: none;
    background: red;
    padding: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

/* responsiveness */
@media (min-width:750px) {
    .mobile-menu-icon {
        display: none;
    }

    .nav-links {
        display: flex;
    }

}

@media (min-width:800px) {
    .input-containers {
        grid-template-columns: 1fr 1fr auto
    }
}